/* custom CSS */


@media (min-width: 992px) {
body {
	padding-top: 200px !important;
}

h1 {
	font-size: 5rem !important;
}

h2 {
	font-size: 3.5rem !important;
}

h3 {
	font-size: 2.5rem !important;
}

.navbar-lg-px {
	padding: 0 12.5%;
}

#main-vid img {
	width: 100%;
	height: 27.5rem;
}

#user-videos img {
	width: 100%;
	height: 10rem; 
	overflow: hidden;
}

#review {
	max-height: 27.5rem;
}

#review h2, #user-videos h2 {
	font-size: 2.5rem !important;
}

.review-text h3 {
	font-size: 5rem !important;
}
}


body {
	padding-top: 100px;
	color: #000;
	font-family: 'Avenir Medium', sans-serif;
}

h1 {
	font-family: 'playfair_displayregular', serif;
	font-size: 3.5rem;
}

h2 {
	font-family: 'playfair_displayregular', serif;
	font-size: 2.75rem;
}

h3 {
	font-family: 'playfair_displayregular', serif;
	font-size: 2rem;
}

a {
	color: #000;
}

p {
	line-height: 1.7rem;
	color: #999;
}

img {
	width: 100%;
	object-fit: cover;
}

.navbar a {
	font-size: 0.85rem;
}

#header p {
	font-size: 1rem;
	color: #999;
}

#review p {
	font-size: 0.85rem;
}

.review-text img {
	width: 36px;
	transform: translate(-1rem, 0.25rem);
	z-index: -1;
}

#user-videos img {
	max-height: 20rem; 
	overflow: hidden;
}

#main-vid img {
	max-height: 27.5rem;
}

#instructors img {
	height: 20rem;
}

.white-btn {
	border: 1px solid #ccc;
	border-radius: 0;
}

#blog-post img {
	height: 20rem;
}

#blog-post a {
	padding: 0.75rem 1.5rem;
}

#enroll h2 {
	font-size: 4rem;
}

#enroll-btn a {
	padding: 1rem 2rem;
}

#footer-left h3 {
	font-size: 2rem;
}